@model OrangeBricks.Web.Controllers.Offers.ViewModels.MyOffersViewModel

@{
	ViewBag.Title = "My Offers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Offers</h2>

@if (Model.HasOffers)
{
	<p>You have made @Model.Offers.Count() offers on properties...</p>

	foreach (var offer in Model.Offers)
	{
		<hr />
		<h3>@offer.Property.StreetName - £@offer.Amount</h3>

		if (offer.IsAccepted)
		{
			<div class="alert alert-success">
				Congratulations, our offer was accepted!
			</div>
		}

		if (offer.IsRejected)
		{
			<div class="alert alert-danger">
				Sorry, your offer was rejected.
			</div>
		}
		
		<p>@offer.Property.NumberOfBedrooms bedroom @offer.Property.PropertyType</p>
		<p>@offer.Property.Description</p>

		<p>Status: <span class="@(offer.IsAccepted ? "text-success" : "") @(offer.IsRejected ? "text-danger" : "")">@offer.Status</span></p>
		<p>Last Updated: @offer.UpdatedAt</p>
	}
}
else
{
	<div class="alert alert-info">
		You have not yet made any offers.
	</div>
}